/* CategoryTopicsComponent's private CSS styles */
.topics {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 45em;
  }
  .topics li {
    position: relative;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
   
  .topics span {
    color: #888;
    text-decoration: none;
    position: relative;
    display: block;
    width: 750px;
  }
   
  .topics .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    min-width: 16px;
    text-align: left;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
   
